*{

  box-sizing: border-box;
}
body {
    background-color: #fafafc;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 13pt;
    color:  #112e51;
}

.fixed-alert{
    background-color: #af0000;
    color: #fafafc; 
    text-align: center;
    font-size: 10pt;
    padding-top: .05%;
    padding-bottom: .05%;
    padding-right: 10pt;
    padding-left: 10pt;
    margin: 0pt;
}

.fixed-alert a:link{
    color:#fafafc;
}

.fixed-alert p {
  color: #fafafc;
}


#wrapper {
    padding: 0pt;
}

header {background-color: #fafafc;
    height: 100px;
    margin-bottom: 0px;
    background-image:url(Images/logo.gif);
    background-repeat: no-repeat;
    background-position:center;    
}

h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

nav{
    font-weight: bold;
    font-size: 12pt;
    display: inline;
    }


nav ul {list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#4eaee2;
  }

nav li a {
    float: left;
    padding: 15px;
}

nav a{
  background-color: #4eaee2;
  color: #fafafc;
  text-decoration: none;
  padding: 20px;
  }

nav a:hover{
    color: #112e51;
    background-color:#85c341;
}
/* Start of Search Bar form styling from https://pagedart.com/blog/how-to-add-a-search-bar-in-html/ */
form {
    background-color: #4eaee2;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  /*End of Search Bar*/

  .covid-alert{
      background-color: #e8e2dc;
      padding: 5pt;
      position: inherit;
      font-family: Verdana, Tahoma, sans-serif;
      font-size: 10pt;
      text-align: center;
      letter-spacing: -.2pt;
      margin: 5pt;
  }

  h2, p{
      text-align: center;
      color:  #112e51;
  }

  h3{
      color: #85c341;
  }

  h4{
    text-align: center;
    color:  #85c341;
  }

  /* Grid layout and button from https://www.youtube.com/watch?v=ZPb10kOQv0c */
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 2rem;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.box-container .box {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: linear-gradient(45deg, #85c341, #4eaee2);
  
}

.box-container .box h3{
  color: #fafafc;
  font-size: 22px;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  overflow: wrap;
}
.box-container .box a{
  color: #fafafc;
  font-size: 22px;
  padding: 10px 0;
  text-decoration: none;
}

.box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
  cursor: pointer;
}

.button{
  margin-top: 20px;
  background: #4eaee2;
  color: #fafafc;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  cursor: pointer;
  position: relative;
  width: fit-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button a{
  text-decoration: none;
  color: #fafafc;
}

.button:hover{
  letter-spacing: 1px;
  transition: .1s;
}

.center {

}

/* Services Page Style */
summary {
  font-size: 30px;
  display: flex;
  align-items:center;
}
summary > div {
  width:100%;
}


/* Media Queries */
@media only screen and (max-width: 1042px) {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 2rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) { 
}
